.chikaInput {
  margin: 20px 35%;
}

.chikaInput__form {
  text-align: left;
  border: 1px solid #e0e0e0;
  display: flex;
  padding: 10px;
}

.chikaInput__profileImg {
  object-fit: cover;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.chikaInput__formGroup {
  margin-left: 5px;
  width: 100%;
}

.chikaInput__textarea {
  resize: none;
  font-size: 1.5rem;
  border: none;
}

.chikaInput__textarea:valid {
  border: none;
  outline: none;
}

.chikaInput__textarea:focus {
  outline: none !important;
}

.chikaInput__textarea::placeholder {
  font-size: 1.5rem;
}

.chikaInput__button {
  margin-top: 20px;
  margin-left: 10px;
  width: 78px;
}

@media (max-width: 500px) {
  .chikaInput {
    margin: 20px;
  }
  .chikaInput__textarea::placeholder {
    font-size: 1.25rem;
  }
  .chikaInput__textarea {
    resize: none;
    font-size: 1.25rem;
    border: none;
  }
  .chikaInput__button {
    padding: 4px 8px;
    width: 68px;
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .chikaInput {
    margin: 10px;
  }
  .chikaInput__textarea::placeholder {
    font-size: 1rem;
  }
  .chikaInput__textarea {
    resize: none;
    font-size: 1rem;
    border: none;
  }
}
