.login__incorrectPassword {
  color: #ff4255;
}

.registerLogin__loginForm {
  margin: auto;
  margin-top: 8%;
  width: 35%;
  text-align: left;
}

.registerLogin__button {
  display: block;
  margin: 10px auto;
}

@media (max-width: 600px) {
  .registerLogin__loginForm {
    width: 80%;
    margin-left: 40px;
    margin-right: 50px;
  }
}
